.call-action
  margin: 40px 16px 0
  padding: 40px
  background-image: url('./assets/bg.svg')
  border-top: 4px solid #2A8FFF
  display: flex
  flex-direction: column
  gap: 40px

  &__title-blue
    color: #2A8FFF