@use '../../../../sass-vars/breakpoints'
  
.about
  margin-top: 80px
  padding: 0 16px 16px

  &__txt
    margin: 32px 0 40px
    line-height: 20px

  &__img-block
    display: flex
    justify-content: space-between

  &__img1
    height: fit-content
    width: calc(33% - 4px)

  &__img2
    width: calc(67% - 4px)

@media (min-width: breakpoints.$breakpoint-tablet)
  .about
    margin-top: 110px
    padding: 0 36px 40px

    &__txt
      margin: 40px 0 64px

    &__img1
      width: calc(33% - 12px)

    &__img2
      width: calc(67% - 12px)
