.benefits-gallery
  &__images
    margin: 32px 0 0 16px
    overflow-x: hidden
    width: calc(100vw - 16px)

  &__images-inner
    display: flex
    gap: 8px

  &__image
    width: 50%
    height: 50%

    &_active
      min-width: calc(100vw - 32px)
      max-width: calc(100vw - 32px)

  &__switcher
    padding: 0 16px 0
    margin: 0
    list-style: none
    counter-reset: benefits-gallery-counter

    & li
      padding: 24px 0
      border-bottom: 2px solid rgba(0, 0, 0, 0.25)
      font-family: 'Nunito', Arial, sans-serif
      font-weight: 700
      font-size: 16px
      line-height: 20px
      color: rgba(0, 0, 0, 0.25)
      counter-increment: benefits-gallery-counter
      display: flex

      &::before
        content: '0' counter(benefits-gallery-counter)
        width: 56px
