.benefits-gallery
  &__images
    margin: 32px 0 0 16px
    overflow-x: hidden
    width: calc(100vw - 16px)

  &__images-inner
    display: flex
    gap: 8px

  &__image
    width: 50%
    height: 50%

    &_active
      width: 100%
