*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Nunito', Arial, sans-serif;
}

#root {
  display: flex;
  flex: 1;
}
